%table.outertable{style:'display:grid'}
  %tr.medium
    %th
    %th= t(:aliases_defhead)
    %th= t(:suggested_aliases)
    %th= t(:custom_alias)
  - @workset.each do |thedef, aliases|
    %tr.mainrow{'data-defid': thedef.id}
      %td
        .widget
          %button.medium.finish= t(:aliases_finish_processing)
      %td.big= thedef.defhead
      %td
        - aliases.each do |al|
          %table.innertable{style:'display:grid'}
            %tr
              %td.big= al
              %td
                .widget
                  %button.medium.yes{style:"margin-bottom:10px"}= t(:save)
                  %button.medium.no= t(:reject)
        - if aliases.length > 1
          %button.medium.yesall= t(:save_all_aliases)
      %td
        %span.medium= t(:custom_alias)  
        %input.big
        %button.medium.additional= t(:save)
