%h1= t(:user_review_aliases)
%p= t(:aliases_stats, { defs: @alias_stats[:defs], published: @alias_stats[:published], aliases: @alias_stats[:aliases], todo: @alias_stats[:todo]})
%h2= t(:instructions)
%p= t(:aliases_review_instructions)

.review_area= render partial: 'review'

:javascript
  $(document).ready(function(){
    $('.no').click(function(){
      $(this).closest('table').remove();
    });
  });