<script language="javascript" type="text/javascript">
// EBYDict stuff

// the following is a bit of generated JS prepared by the typing controller
<%= @parts_js %>

var curpart = 0;
var curfoot = 0;
var curimg = parts[curpart];
var curfootimg = foots[curfoot];
var humanpart;
var humanmaxpart = <%= @partcount %>;
var maxpart = humanmaxpart - 1;
var humanfoot;
var extra_foots = <%= @extra_foots %>;

$(document).ready(function() {
// TinyMCE stuff
tinyMCE.init({
        mode : "specific_textareas",
        editor_selector : "mceEditor",
        theme : "advanced",
  theme_advanced_buttons1 : "bold,removeformat,separator,undo,redo,separator,charmap",
  theme_advanced_buttons2 : "makor,problem,comment",
  theme_advanced_buttons3 : "",
        directionality : "rtl",
        language : 'he',
        content_css : "/assets/stylesheets/typing.css",
  setup : function(ed) {
    // Add our custom buttons
    ed.addButton('makor', {
    title : '<%= t(:type_source) %>',
                image : '/assets/source.png',
    onclick : function() {
      ed.focus();
      ed.selection.setContent('<%= t(:type_source_markup) %>'+ed.selection.getContent()+'&#93;&#93; ');
    }
    });
    ed.addButton('problem', {
    title : '<%= t(:type_problem) %>',
                image : '/assets/problem.png',
    onclick : function() {
      ed.focus();
      ed.selection.setContent('<%= t(:type_problem_markup) %>'+ed.selection.getContent()+'&#93;&#93; ');
    }
    });
    ed.addButton('comment', {
    title : '<%= t(:type_comment) %>',
                image : '/assets/comment.png',
    onclick : function() {
      ed.focus();
      ed.selection.setContent('<%= t(:type_comment_markup) %>'+ed.selection.getContent()+'&#93;&#93; ');
      }
    });
    }
});

  chimg(0);
  $(".dialog").hide();
  
  $("#instructions").dialog({
      modal: true,
      width: 600,
      title: '<%= t(:type_instructions_title) %>',
      overlay: {opacity: 0.5, background: "black" },
      show:"blind",
      hide:"blind",
      autoResize:true,
      resizable:true,
      autoOpen:false
    });

  $('#instructions_button').click(function() { 
  $('#instructions').show().dialog("open");
    });
});
</script>
<style type="text/css">

.dialog
{
  background: #EEE;
  padding: 10px;
  border:1px solid #000000;
}
.ui-dialog-titlebar-close
{
  display: block;
  position: absolute;
  right: 12px;
  top: 11px;
  height: 20px;
  width: 20px;
  background-color: #4B5667;
  font-size: 0px;
  border: 1px solid #9D9D9D;
}

.ui-dialog-titlebar
{
  display: block;
  height: 40px;
  background: #4F4F4F;
  border-width:1px 1px 0px 1px;
  border-color:#000000;
  border-style:solid;
  color: #E5E5E5;
  text-align: center;
  font: 21px/42px "Arial Black";
  cursor: move;
}

.ui-widget-overlay
{
  opacity: .7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  position: absolute;
  top: 0;
  left:0;
  background:#000000;
  padding: 10px;
}

</style>

<%= form_tag '/type/processtype/'+@thedef.id.to_s %>
<!-- instructions popup -->

<div id="instructions" class="dialog" style="display:none" title="<%= t(:type_instructions_title) %>">
<%= t(:type_instructions_body_html) %>
</div>
<!-- main editing area -->
<table>
<tr>
  <td>
    <div align="center"><a href="#" id="but_next" onclick="gonext()"><%= t(:type_next) %></a> | <span style="color: green" id="curpos"></span> | <a href="#" id="but_prev" onclick="goprev()"><%= t(:type_prev) %></a></div><br/>
    <img id="defpartimg" border="1" src=""/><p/>
    <div align="center"><a href="" id="foot_next" onclick="footnext()"><%= t(:type_nextfoots) %></a><a href="#" id="but_next2" onclick="gonext()"><%= t(:type_next) %></a> | <span style="color: green" id="curpos2"></span> | <a href="#" id="but_prev2" onclick="goprev()"><%= t(:type_prev) %></a> <a href="" id="foot_prev" onclick="footprev()"><%= t(:type_prevfoots) %></a></div><br/>
    <a id="defpartlink" href="" target="_new"><%= t(:type_clicktoenlarge) %></a>
    <hr/>
    <img id="footimg" border="1" src=""/><p/>

  </td>
  <td><!-- TinyMCE goes here -->
    <div style="position: fixed; top:25px">
<span style="color:green"><%= t(:type_headword) %></span><input style="font-family:David;font-size:18pt" dir="rtl" align="right" name="defhead" size="25" value="<%= h(@thedef.defhead) %>"/><br/>
    
      <table><tr><td><textarea class="mceEditor" id="deftext" name="deftext" rows="10" cols="30"><%= h(@thedef.deftext) %></textarea></td><td> &nbsp;&nbsp; <%= t(:type_text) %></td></tr></table>
      <hr/>
      <hr id="helper_hr" style="display: none"/>
      <table><tr><td><textarea class="mceEditor" id="footnotes" name="footnotes" rows="8" cols="30"><%= h(@thedef.footnotes) %></textarea></td><td> &nbsp;&nbsp; <%= t(:type_footnotes) %></td></tr></table>
      <table>
	<tr><th><%= t(:type_arabic) %></th><th><%= t(:type_greek) %></th><th><%= t(:type_russian) %></th><th><%= t(:type_extra) %></th></tr>
        <tr>
          <%= @selects.html_safe %>
        </tr>
      </table><table>
        <tr><td><%= submit_tag t(:type_saveanddone, :action => @action), :name => 'save_and_done' %></td><td><%= submit_tag t(:type_save), :name => 'commit' %></td></tr><tr>
        <td><%= submit_tag t(:type_abandon), :name => 'abandon' %></td>
        <td><span id="instructions_button" style="text-decoration: underline; cursor:pointer; color: blue;"><%= t(:type_show_instructions) %></span></td>
        </tr>
        <tr><td><textarea class="prob" style="font-family:David;font-size:14pt" dir="rtl" align="right" name="prob_desc" cols="15" rows="3"><%= h(@thedef.prob_desc) %></textarea></td>
        <td><%= submit_tag t(:type_problem), :name => 'problem' %></td></tr>
      </table>
    </div>
    
  </td>
</tr>
</table>
<input type="hidden" name="act" value="<%= @actno  %>"/>
</form>

<br/>
<script language="javascript" type="text/javascript">
function chimg(delta) {
  curpart += delta;
  curfoot += delta;
  if(curpart > maxpart)
    curpart = maxpart;
  if(curpart < 0)
    curpart = 0;
  curimg = parts[curpart];
  curfootimg = foots[curfoot];
  humanpart = curpart + 1;
  $('#curpos').html(humanpart+"/"+humanmaxpart);
  $('#curpos2').html(humanpart+"/"+humanmaxpart);

  $('#defpartlink').attr('href', curimg);
  $('#defpartimg').attr('src', curimg);
  $('#footimg').attr('src', curfootimg);
  $('#foot_prev').hide();
  if(curpart == 0) {
    $('#but_prev').hide();
    $('#but_prev2').hide();
  }
  else {
    $('#but_prev').show();
    $('#but_prev2').show();
  }
  if(curpart == maxpart) {
    $('#but_next').hide();
    $('#but_next2').hide();
    if(extra_foots > 0)
      $('#foot_next').show();
  }
  else {
   $('#foot_next').hide();
   $('#but_next').show();
   $('#but_next2').show();
  }
}

function chfoot(delta) {
  curfoot += delta;
  if(curfoot == maxpart) {
    $('#foot_prev').hide();
    chimg(0); // we're back where def parts are available, so delegate
  }
  else { // we are beyond the def parts
   if(curfoot == maxpart + extra_foots) {
     $('#foot_next').hide();
   }
   $('#foot_prev').show();
   $('#but_prev').hide();
   $('#but_prev2').hide();
   curfootimg = foots[curfoot]; 
   $('#footimg').attr('src', curfootimg);
  }
  // TODO: figure out why at the end of this func, the view resets to page 1!
}

function gonext(e) {
  chimg(1);
}
function goprev(e) {
  chimg(-1);
}

function footnext(e) {
  chfoot(1);
}
function footprev(e) {
  chfoot(-1);
}

</script>

