
<h1><%= t(:admin_adduser) %></h1>

<%= form_for(:eby_user, :url => { :action => "doadduser" } ) do |f| %>
  <p>
    <b><%= t(:admin_adduser_login) %>:</b><br />
    <%= f.text_field :login %>
  </p>

  <p>
    <b><%= t(:admin_adduser_password) %>:</b><br />
    <%= f.text_field :password %>
  </p>
  <p><b><%= t(:admin_adduser_fullname) %>:</b> <%= f.text_field :fullname %></p>
  <b><%= t(:admin_adduser_email) %>:</b> <%= f.text_field :email %><br/>
  <p/>

  <%= f.check_box(  :role_partitioner )%> <%= t(:admin_adduser_role_partitioner) %>? <br/>
  <%= f.check_box(  :role_typist )%> <%= t(:admin_adduser_role_typist) %>? <br/>
  <%= f.check_box(  :role_proofer )%> <%= t(:admin_adduser_role_proofer) %>?  &nbsp;&nbsp;&nbsp; <%= t(:admin_adduser_max_proof_level) %> (1-5):  <%= f.text_field :max_proof_level %><br/>
  <%= f.check_box( :role_fixer )%> <%= t(:admin_adduser_role_fixer) %>? <br/>
  <%= f.check_box( :role_publisher )%> <%= t(:admin_adduser_role_publisher) %>? <br/>

  <p/>

  <%= f.check_box( :does_arabic )%> <%= t(:admin_adduser_does_arabic) %>? <br/>
  <%= f.check_box( :does_greek )%> <%= t(:admin_adduser_does_greek) %>? <br/>
  <%= f.check_box( :does_extra )%> <%= t(:admin_adduser_does_extra) %>? <br/>
  <%= f.check_box( :does_russian )%> <%= t(:admin_adduser_does_russian) %>? <br/>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p/>
<%= link_to t(:user_back),  :controller => :user, :action => 'index' %>

