<head>
<title>EbyDict: Partitioner</title><%= javascript_include_tag :defaults %> 
<SCRIPT language="JavaScript" src="/assets/wz_jsgraphics.js"></SCRIPT>
<style type="text/css">
 #smallimg_container { position:absolute }
</style>
<script>
var colnum = 0;
var theseps = '';
function cancel_seps()
{
  $('col_seps').innerHTML = "";
  theseps = '';
  $('final_seps').writeAttribute('value','');
  colnum = 0;
  jg.clear();
  jg.drawImage("<%= @smallimg %>", 0,0, $('smallimg').getWidth(), $('smallimg').getHeight(), null);
  jg.paint();
}

function markColumn(e) {
  colnum++;
  $('col_seps').innerHTML += "col #"+colnum+": "+e.layerX+" | ";
  if(theseps !== '')
    theseps += '|';
  theseps += e.layerX;
  $('final_seps').writeAttribute('value', theseps);
  jg.drawLine(e.layerX, 0, e.layerX, $('smallimg').getHeight());
  jg.paint();
}
</script>
</head>

<body> <b>Partitioning scan: <%= @origimg %></b>
<%= form_tag '/scan/dopartition/'+@sc.id.to_s %> <div id="part_tools"><%= submit_tag "Save Partitions and Get Another Image", :name => 'save_and_next' %> || <%= submit_tag "Save Partitions", :name => 'commit' %> || <%= submit_tag "Don't Save; Abandon this Image", :name => 'abandon' %> <a href="" onclick="cancel_seps()">Cancel and Start Over</a> <p/>
<span style="color:green">Please enter the Page Numbers in this image (Examples: <b>3</b> or <b>4-5</b>):</span><input name="pagenos" size="10" value="<%= @prefilled_pagenums %>"/>
<a href="<%= @origimg %>" target="_new">Click to see original (large) image in new window</a><br/>
Column separators marked so far: <span id="col_seps"></span>
<input type="hidden" name="seps" id="final_seps"/>
</form> 
</div>
Small Image: <div id="smallimg_container" style="position:relative"></div>
<img id="smallimg" style="display:none" src="<%= @smallimg %>">
<p/>
</body>
<script>

var saved_inner = $('smallimg_container').innerHTML;
var jg = new jsGraphics("smallimg_container"); 
// Bog bless Prototype!  phew!
$('smallimg_container').observe('click', markColumn)
function onload() {
  $('smallimg_container').style.width = $('smallimg').getWidth();
  $('smallimg_container').style.height =  $('smallimg').getHeight();
  jg.drawImage("<%= @smallimg %>", 0,0, $('smallimg').getWidth(), $('smallimg').getHeight(), null);
  jg.paint();
}
</script>
