<head>
<title>EbyDict: Partitioner</title><%= javascript_include_tag :defaults %> 
<SCRIPT language="JavaScript" src="/assets/wz_jsgraphics.js"></SCRIPT>
<style type="text/css">
 #colimg_container { position:absolute }
</style>
<script>
var thesep = '';
function cancel_sep()
{
  $('col_seps').innerHTML = "";
  thesep = '';
  $('final_seps').writeAttribute('value','');
  jg.clear();
  jg.drawImage("<%= @colsmallimg %>", 0,0, $('colimg').getWidth(), $('colimg').getHeight(), null);
  jg.paint();
}

function markSep(e) {
  $('col_seps').innerHTML = "separated at Y="+e.layerY;
  thesep = e.layerY;
  $('final_seps').writeAttribute('value', thesep);
  jg.drawLine(0, e.layerY, $('colimg').getWidth(), e.layerY);
  jg.paint();
}
</script>
</head>
<body> <b>Partitioning column: <%= @colimg %></b>
<%= form_tag '/scan/docolpart/'+@col.id.to_s %>
<table><tr><td>
<div align="center" id="part_tools"><%= submit_tag "Save Partition and Get Another Column", :name => 'save_and_next' %><br/><%= submit_tag "Save Partition", :name => 'commit' %><br/><%= submit_tag "Don't Save; Abandon this Image", :name => 'abandon' %><br/><br/> <a href="#" onclick="cancel_sep()">Cancel and Start Over</a> <p/>
The separator between definitions and footnotes: <span id="col_seps"></span>
<input type="hidden" name="seps" id="final_seps"/>
</form> <a href="<%= @colimg %>" target="_new">Click to see original (large) image in new window</a><br/></div>
<td><div align="center"><div style="border: solid #000000; position:relative" id="colimg_container"></div>
<img id="colimg" style="display:none" src="<%= @colsmallimg %>"></div></td></tr></table>
<p/>
</body>
<script>

var jg = new jsGraphics("colimg_container"); 
// Bog bless Prototype!  phew!
$('colimg_container').observe('click', markSep)
function onload() {
  $('colimg_container').style.width = $('colimg').getWidth();
  $('colimg_container').style.height =  $('colimg').getHeight();
  jg.drawImage("<%= @colsmallimg %>", 0,0, $('colimg').getWidth(), $('colimg').getHeight(), null);
  jg.paint();
}
</script>
