<head>
<title>EbyDict: Separate Definitions</title>
<style type="text/css">
 #colimg_container { position:absolute }
</style>
</head>
<body>
<h4>Partitioning column: <%= @img %></h4>
<script>
var seqno = 0;
var thesep = '';
function cancel_sep()
{
  $('#col_seps').htlm("");
  thesep = '';
  $('#final_seps').attr('value','');
  seqno = 0;
  context.drawImage(imageObj, 0,0);
}

function markSep(e) {
  seqno++;
  var offset = $(this).offset();
  var rely = e.pageY - offset.top;
  $('#col_seps').html($('#col_seps').html()+ seqno+": "+rely+"; ");
  if(thesep !== '')
    thesep += '|';
  thesep += rely;
  $('#final_seps').attr('value', thesep);
  context.beginPath();
  context.moveTo(0, rely);
  context.lineTo($('#myCanvas').width(),rely);
  context.stroke();
}

// Bog bless jQuery!
$(document).ready(function() {
  canvas = document.getElementById("myCanvas");
  context = canvas.getContext("2d");
  imageObj = new Image();

  imageObj.onload = function() { 
    context.drawImage(imageObj, 0,0);  
  }
  imageObj.src = "<%= @img %>";
  $('#myCanvas').click(markSep);
});

</script>

<table><tr><td valign="top">
<%= form_tag '/scan/dopartdef/'+@coldef.id.to_s %>
<div id="part_tools"><div align="left" dir="ltr" style="position:fixed; left:10px;"><%= submit_tag "Save Partitions and Get Another Column", :name => 'save_and_next' %> <br/> <%= submit_tag "Save Partition", :name => 'commit' %> <br/> <%= submit_tag "Don't Save; Abandon this Image", :name => 'abandon' %><br/> <a href="#" onclick="cancel_sep()">Cancel and Start Over</a> <p/>
<font size="+2"><b>Is the first line <br/>a <u>continuation</u> of an entry?</b></font><br/><label>No<%= radio_button_tag "first_cont", "no", :id => 'iscont' %></label><label>Yes<%= radio_button_tag "first_cont", "yes", :checked => 'true', :id => 'iscont' %></label>
<br/>Separations between definitions: <span id="col_seps"></span>
<input type="hidden" name="seps" id="final_seps"/>
</div>
</form> <br/></div></td><td><canvas id="myCanvas" align="center" width="<%= @width + 1 %>" height="<%= @height + 1 %>"></canvas></td></tr></table>
</body>
