<head>
<title>EbyDict: Separate Definitions</title>
<style type="text/css">
 #colimg_container { position:absolute }
</style>
</head>
<body>
<h4>Partitioning column: <%= @img %></h4>
<script>
var seqno = 0;
var thesep = '';
var seps = [];
function cancel_sep()
{
  $('#col_seps').html("");
  thesep = '';
  $('#final_seps').attr('value','');
  seqno = 0;
  seps = [];
  context.drawImage(imageObj, 0,0);
}

function markSep(e) {
  seqno++;
  var offset = $(this).offset();
  var rely = e.pageY - offset.top;
  $('#col_seps').html($('#col_seps').html()+ seqno+": "+rely.toFixed(0)+"; ");
  if(thesep !== '')
    thesep += '|';
  thesep += rely;
  $('#final_seps').attr('value', thesep);
  seps.push(rely);
  drawSeps();
}

function drawSeps() {
  for(var i=0; i < seps.length; i++) {
    context.beginPath();
    context.moveTo(0,seps[i]);
    context.lineTo($('#myCanvas').width(), seps[i]);
    context.stroke();
  }
}

function updateLine(e) {
    var r = canvas.getBoundingClientRect(),
        y = e.clientY - r.top;
    
    context.drawImage(imageObj, 0, 0, canvas.width, canvas.height);
    line.x1 = 0;
    line.y1 = y;
    line.x2 = canvas.width;
    line.y2 = y;
    line.draw();
    drawSeps();
}

// Bog bless jQuery!
$(document).ready(function() {
  canvas = document.getElementById("myCanvas");
  context = canvas.getContext("2d");
  imageObj = new Image();

  imageObj.onload = function() { 
    context.drawImage(imageObj, 0,0);  
  }
  imageObj.src = "<%= @img %>";
  $('#myCanvas').click(markSep);
  line = new Line(context);
  canvas.onmousemove = updateLine;
});

</script>

<%= form_tag '/scan/dopartdef/'+@coldef.id.to_s %>
<font size="+2"><b>האם השורה הראשונה <br/><u>ממשיכה</u> הגדרה?</b></font><br/><label>לא<%= radio_button_tag "first_cont", "no", :id => 'iscont' %></label><label>כן<%= radio_button_tag "first_cont", "yes", :checked => 'true', :id => 'iscont' %></label>
<br/>הפרדות: <br/><span id="col_seps"></span>
<input type="hidden" name="seps" id="final_seps"/>
<canvas id="myCanvas" align="center" width="<%= @width + 1 %>" height="<%= @height + 1 %>"></canvas>
<div id="part_tools" align="right" dir="rtl"><%= submit_tag "בצע חלוקה והבא בתור", :name => 'save_and_next' %> <br/><br/> <%= submit_tag "שמור חלוקה והפסק", :name => 'commit' %> <br/><br/> <%= submit_tag "צא בלי לחלק", :name => 'abandon' %><br/> <br/><a href="#" onclick="cancel_sep()">ביטול חלוקה</a> <p/>
</div>
</form> 
</body>
