<head>
<title>EbyDict: Partitioner</title>
<script>
var colnum = 0;
var theseps = '';
var seps = [];
var canvas;
var context;
var imageObj;
var line;
function cancel_seps()
{
  $('#col_seps').html("");
  theseps = '';
  $('#final_seps').attr('value','');
  colnum = 0;
  seps = [];
  context.drawImage(imageObj,0,0); 
}

function markColumn(e) {
  var offset = $(this).offset();
  colnum++;
  var relx = e.pageX- offset.left;
  $('#col_seps').html($('#col_seps').html()+"col #"+colnum+": "+relx+" | ");
  if(theseps !== '')
    theseps += '|';
  theseps += relx;
  $('#final_seps').attr('value', theseps);
  seps.push(relx);
  drawSeps();
}

function drawSeps() {
  for(var i=0; i < seps.length; i++) {
    context.beginPath();
    context.moveTo(seps[i], 0);
    context.lineTo(seps[i], $('#myCanvas').height());
    context.stroke();
  }
}

function updateLine(e) {
    var r = canvas.getBoundingClientRect(),
        x = e.clientX - r.left;
    
    context.drawImage(imageObj, 0, 0, canvas.width, canvas.height);
    line.x1 = x;
    line.y1 = 0;
    line.x2 = x;
    line.y2 = canvas.height;
    line.draw();
    drawSeps();
}

// Bog bless jQuery!
$(document).ready(function() {

  canvas = document.getElementById("myCanvas");
  context = canvas.getContext("2d");
  imageObj = new Image();

  imageObj.onload = function() { 
    context.drawImage(imageObj, 0,0);  
  }
  imageObj.src = "<%= @smallimg %>";
  $('#myCanvas').click(markColumn);
  line = new Line(context);
  canvas.onmousemove = updateLine;
});
</script>

</head>

<body> <b><%= t(:scan_partitioning) %>: <%= @origimg %></b>
  <span style="color:green"><%= t(:scan_enter_page_numbers) %>:</span><input name="pagenos" size="10" value="<%= @prefilled_pagenums %>"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="<%= @origimg %>" target="_new"><%= t(:scan_show_original)%></a><br/>
  <input type="checkbox" name="double_margin"/><%= t(:scan_double_margins) %> || 
  <%= t(:scan_seps_so_far) %>: <span id="col_seps"></span>
<input type="hidden" name="seps" id="final_seps"/>
</form> 
</div>
<div id="smallimg_container" style="position:relative"><canvas id="myCanvas" width="<%= @width + 1 %>" height="<%= @height + 1 %>"></canvas></div>
<%= form_tag '/scan/dopartition/'+@sc.id.to_s %> <div id="part_tools"><%= submit_tag t(:scan_save_and_get_another_img), :name => 'save_and_next' %> || <%= submit_tag t(:scan_save_partitions), :name => 'commit' %> || <%= submit_tag t(:scan_abandon_this_image), :name => 'abandon' %> <a href="" onclick="cancel_seps()"><%= t(:scan_cancel_and_start_over) %></a> <p/>

<p/>
</body>
