%h1= 'קישוריות לסריקות'

%h3= "כרך #{params[:vol]}"
%ol
  - @scans.each do |sc|
    %li= link_to "#{sc.firstpagenum}-#{sc.secondpagenum}", sc.cloud_origjpeg.service_url
    %br
    %ol
      - sc.col_images.each do |c|
        %li= link_to "#{c.colnum}", c.cloud_coljpeg.service_url

= will_paginate @scans
