%h1= t(:admin_userlist)
%table
  %tbody
    %tr
      %th= t(:admin_adduser_login)
      %th= t(:admin_adduser_fullname)
      %th= t(:admin_proof_level)
      %th= t(:admin_adduser_email)
      %th= t(:admin_user_login_count)
      %th= t(:admin_user_last_action)
      %th= t(:admin_user_roles)
      %th= t(:user_assigned_defs)
      %th= t(:table_actions)
    - @users.each do |u|
      %tr
        %td= u.login
        %td= link_to u.fullname, :controller => :user, :action => :show, :id => u
        %td= u.max_proof_level.to_s
        %td= u.email
        %td= u.login_count.to_s
        %td= u.eby_def_events.empty? ? t(:never) : time_ago_in_words(u.eby_def_events.last.created_at)
        / %td= 'list_roles'
        %td= u.list_roles
        %td
          - u.assigned_defs.each do |d|
            %a{ :href=> url_for(:controller => :definition, :action => :view, :id => d.id) }
              = "#{d.defhead} (#{action_label_for_status(d.status)}) "
            %a{ :href=> url_for(:controller => :definition, :action => :unassign, :id => d.id)}
              %small
                = t(:definition_unassign)
            = raw "&nbsp;&nbsp;&nbsp;&nbsp;"
        %td= link_to t(:edit_user), user_edit_path(id: u.id)
= will_paginate @users

%a{ :href => user_index_path }
  = t(:user_back)
