%h1= 'User List'
  %table
    %tbody
      %tr
        %th= 'Name'
        %th= 'e-mail'
        %th= 'roles'
        %th= 'actions'
      - @users.each do |u|
        %tr
          %td= u.fullname
          %td= u.email
          %td= u.list_roles
          %td= ...
