<script type="text/javascript">
 <!-- // Begin
 function toggle(id) { element = document.getElementById(id); element.style.display = (element.style.display == "none" ) ? "" : "none";}
 --> </script>
<div dir="rtl" align="right"> <%= t :user_hello_html, :user => @user.fullname %>
<h3><%= link_to t(:user_your_contributions), :action => :show %></h3> <p/>
<%= t(:user_now_what_html) %><p/>
<ul>
<% if @user.role_partitioner %>
  <li> <%= link_to t(:user_partscans), :controller => 'scan', :action => 'partition' %> <%= t :user_todo_html, :count => @avail_scanimgs, :things => t(:user_scans) %><br/>
  <div width="80%">
  <% if not (@inprog_scanimgs.nil? or @inprog_scanimgs.empty?) %>
    <% @inprog_scanimgs.each { |inp| %>
      <%= t(:or) %> <%= link_to t(:user_workon_html, :pic => filepart_from_path(inp.origjpeg)), :controller => 'scan', :action => 'partition', :id => inp %>, <%= t(:or) %>  <%= link_to t(:user_abandon_html), :controller => 'scan', :action => 'abandon', :id => inp %><br/>
    <% } %>
  </div>
  <% end %>
  <li><%= link_to t(:user_partcols), :controller => 'scan', :action => 'part_col' %> <%= t(:user_todo_html, :count => @avail_colimgs, :things => t(:user_cols)) %><br/>
  <div width="80%">
  <% if not (@inprog_colimgs.nil? or @inprog_colimgs.empty?) %>
    <% @inprog_colimgs.each { |inp| %>
      <%= t(:or) %>  <%= link_to t(:user_workon_html, :pic => filepart_from_path(inp.coljpeg)), :controller => 'scan', :action => 'part_col', :id => inp %>, <%= t(:or) %>  <%= link_to t(:user_abandon), :controller => 'scan', :action => 'abandon_col', :id => inp %><br/>
    <% } %>
  </div>
  <% end %>

  <li><%= link_to t(:user_partdefs), :controller => 'scan', :action => 'part_def' %> <%= t(:user_todo_html, :count => @avail_coldefimgs, :things => t(:user_defblocks)) %><br/>
  <div width="80%">
  <% if not (@inprog_coldefimgs.nil? or @inprog_coldefimgs.empty?) %>
    <% @inprog_coldefimgs.each { |inp| %>
      <%= t(:or) %>  <%= link_to t(:user_workon_html, :pic => filepart_from_path(inp.coldefjpeg)), :controller => 'scan', :action => 'part_def', :id => inp %>, <%= t(:or) %>  <%= link_to t(:user_abandon), :controller => 'scan', :action => 'abandon_col', :id => inp %><br/>
    <% } %>
  </div>
  <% end %>
  
<% end 
   if @user.role_typist %>
  <br/>
  <li><%= t(:user_typedef_html) %></a> <%= t(:user_todo_html, :count => @avail_defs, :things => t(:user_defs)) %>
  <ul>
    <li><%= link_to t(:user_defsmall_html), :controller => 'type', :action => 'get_def', :defsize => 'small' %> <%= t(:user_todo_html, :count => @avail_defs_small, :things => t(:user_defs)) %> <br/>
    <li><%= link_to t(:user_defmedium_html), :controller => 'type', :action => 'get_def', :defsize => 'medium' %> <%= t(:user_todo_html, :count => @avail_defs_medium, :things => t(:user_defs)) %><br/>
    <li><%= link_to t(:user_deflarge_html), :controller => 'type', :action => 'get_def', :defsize => 'large' %> <%= t(:user_todo_html, :count => @avail_defs_large, :things => t(:user_defs)) %><br/>
  </ul>
  <% if not (@inprog_defs.nil? or @inprog_defs.empty?) %>
    <% @inprog_defs.each { |inp| %>
      <%= t(:or) %>  <%= link_to t(:user_workon_def_html, :pic => inp.defhead, :numparts => inp.part_images.size), :controller => 'type', :action => 'edit', :id => inp %>, <%= t(:or) %>  <%= link_to t(:user_abandon), :controller => 'type', :action => 'abandon', :id => inp %><br/>
  <% }
    end  %>
  <% 
 end
   if @user.role_fixer %>
  <br/>
  <li><a href="javascript:toggle('fixupwhich')"><%= t(:user_fixup_html) %></a> <%= t(:user_todo_html, :count => @avail_fixups, :things => t(:user_fixups)) %><br/>
  <div width="80%">
  <div id="fixupwhich" style="display: none;  ">
    <%= link_to t(:user_defsmall_html), :controller => 'type', :action => 'get_fixup', :defsize => 'small' %> <br/>
    <%= link_to t(:user_defmedium_html), :controller => 'type', :action => 'get_fixup', :defsize => 'medium' %> <br/>
    <%= link_to t(:user_deflarge_html), :controller => 'type', :action => 'get_fixup', :defsize => 'large' %> <br/>
  </div>
  <!-- show fixups in progress -->
  <% if not (@inprog_fixups.nil? or @inprog_fixups.empty?) %>
    <% @inprog_fixups.each { |inp| %>
      <%= t(:or) %>  <%= link_to t(:user_workon_def_html, :pic => inp.defhead, :numparts => inp.part_images.size), :controller => 'type', :action => 'fixup', :id => inp %>, <%= t(:or) %>  <%= link_to t(:user_abandon), :controller => 'type', :action => 'abandon', :id => inp %><br/>
  <% }
    end %>
  </div>
<% end
     if @user.role_proofer %>
  <br/>
  <li><%= t(:user_proof_html, :maxproof => @user.max_proof_level) %> <%= t(:user_todo_html, :count => @avail_proofs, :things => t(:user_proofs)) %>
  <div width="80%">
  <div id="proofwhich">
    <%= link_to t(:user_defsmall_html), :controller => 'type', :action => 'get_proof', :defsize => 'small' %><br/>
    <%= link_to t(:user_defmedium_html), :controller => 'type', :action => 'get_proof', :defsize => 'medium' %><br/>
    <%= link_to t(:user_deflarge_html), :controller => 'type', :action => 'get_proof', :defsize => 'large' %><br/>
  </div>
  <!-- show proofs in progress -->
  <% if not (@inprog_proofs.nil? or @inprog_proofs.empty?) %>
    <% @inprog_proofs.each { |inp| %>
      <%= t(:or) %>  <%= link_to t(:user_workon_def_html, :pic => inp.defhead, :numparts => inp.part_images.size), :controller => 'type', :action => 'proof', :id => inp %>, <%= t(:or) %>  <%= link_to t(:user_abandon), :controller => 'type', :action => 'abandon', :id => inp %><br/>
  <% }
     end  %>
  
  </div>
<% 
  end
   if @user.role_publisher %>
  <br/>
  <li><%= link_to t(:user_publish), :controller => 'definition', :action => 'list' %> <%= t(:user_todo_html, :count => @avail_publish, :things => t(:user_topublish)) %><br/>
  <li><%= link_to t(:user_problems), :controller => 'problem', :action => 'list' %> <%= t(:user_todo_html, :count => @avail_problem, :things => t(:user_tofix)) %><br/>
  <li><b><%= link_to t(:admin_recent_changes), :controller => 'admin', :action => 'changes' %></b><br/>
  <li><%= link_to t(:admin_userlist), :action => 'list' %><br/>
  <li><%= link_to t(:admin_adduser), :controller => 'admin', :action => 'adduser' %> <br/>
<% end %>
  <br/>
</ul>
<p/>
<%= link_to t(:user_logout), :controller => 'login', :action => 'logout' %>
</div>
