%h1= t(:user_details) + @user.fullname
/ general stuff
%p
/ user's contributions
%hr
%h2= t(:user_contributions)
%table{ :border => "1" }
  %tbody
    %tr
      %th= t(:history_typed)
      %th= t(:history_proofed)
      %th= t(:history_fixed)
    %tr
      - [@user.typed_defs, @user.proofed_defs, @user.fixed_defs].each do |defs|
        %td 
          - unless (defs.nil? or defs.empty?)
            %b
              = "#{defs.length} #{t(:definitions)}: "
            %br
            - defs.each do |d|
              = link_to d.defhead, :controller => :definition, :action => :view, :id => d
              = raw "&nbsp;&nbsp;&nbsp;&nbsp;"
%p
%a{ :href => user_index_path }
  = t(:user_back)
