.wholedef{id: "def#{thedef.id}"}
  / render the def's current status, then AJAXy controls
  - since = d.events.where(:new_status => d.status)[0].created_at
  .defhead
    = thedef.defhead
  .defbody
    - (defbody,footnotes) = thedef.render_body_as_html
    != defbody
    - if footnotes =~ /\S/
      %hr{ :width => "30%", :align => :right}
      .defnotes
        != footnotes
  .pub_actions
    = t(:definition_waiting_since) + " " + since.to_s()
    = link_to t(:definition_edit), :controller => 'type', :action => 'edit', :id => thedef
    = link_to t(:definition_publish), {:controller => :definition, :action => :publish, :id => thedef, :remote => true}, {:class => "def_action", "data-done-msg" => t(:definition_published_html, :defhead => thedef.defhead) }
    = link_to t(:definition_return_to_proof), {:controller => :definition, :action => 'reproof', :id => thedef, :remote => true}, {:class => "def_action", "data-done-msg" => t(:definition_sent_to_reproof_html, :defhead => thedef.defhead)}
    = link_to t(:definition_split_footnotes), {controller: :definition, action: :split_footnotes, id: thedef, remote: true}, {id: 'split_footnotes'}
