%h1= t(:definition_defs_to_publish)
- for d in @pubdefs
  - since = d.events.where(:new_status => @status)[0].created_at
  = render partial: 'def', locals: {thedef: d}
  %hr
= will_paginate @pubdefs
%p
= link_to t(:user_back),  :controller => :user, :action => 'index'

:javascript
  $(document).ready(function() {
    $('.def_action')
      .bind("ajax:beforeSend", function(evt, xhr, settings) {
        var $link = $(this);
        $link.html( "<b>#{t(:definition_executing)}</b>");
      })
      .bind("ajax:success", function(evt, data, status, xhr){
        var $defsection = $(this).parents('div:eq(1)'); // grandparent DIV would be the one for the whole def
        $defsection.html("<span style='color:green'>"+$(this).data('done-msg')+"</span>");
        $defsection.fadeOut(2000); // whee! :)
    });
  });
