%h1= t(:definition_all_defs)
%ol
  - @alldefs.each do |d|
    %li
      = link_to d.defhead, :controller => 'type', :action => 'edit', :id => d.id
      = " (#{label_for_status(d.status)})"
= link_to t(:user_back),  :controller => :user, :action => 'index'
