
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="http://benyehuda.org/ebydict.css">
<div align="right" dir="rtl">
<div class="dictionary_title"><h1>מילון העברית הישנה והחדשה מאת אליעזר בן-יהודה</h1></div>
<% 
  # NOTE: not meant to be called from the Web.  This view is only used by a Rake task.
  # assumes @defs is already dictionary-sorted according to original publication.  Assumes nil elements in array are definitions not yet published. %>
<%
  for d in @defs
    if d.nil? %>
      <div class="ellipsis">...</div>
      <hr/>
    <% 
    else
      (rendered_body, rendered_footnotes) = d.render_body_as_html
      %>
    <span class="permalink"><a name="def_<%= d.id %>" href="<%= d.permalink %>"><%= t(:definition_permalink) %>&nbsp;</span>
    <div class="defhead"><%= d.defhead %></div>
    <div class="deftext"><%= rendered_body %></div>
    <% if rendered_footnotes =~ /\S/ %>
      <br/>
      <hr width="30%" align="right"/>
      <div class="defnotes"><%= rendered_footnotes %></div>
    <% end %>
    <hr/>
    <% end %>
<% end %>
</table>
</div>
