<script language="javascript" type="text/javascript">
// EBYDict stuff

$(document).ready(function() {

});
</script>
<!-- <div class="bordercontainer"> -->
<div class="preview_note"><%= t(:definition_preview_from_ebydict_html) %></div>
<div align="center">
  <table dir="ltr">
  <tr><td><img src="/assets/awful_bg_left.png"></td>
  <td align="right" dir="rtl">
  <div class="defcontainer">
    <div class="defhead"><%= raw @defhead %></div>
    <div class="defbody"><%= raw @defbody %></div>
    <hr/>
    <div class="footnotes"><%= raw @footnotes %></div>
  </div>
  </td>
  <td><img src="/assets/awful_bg_right.png"></td>
  </tr></table>
</div>
<!-- </div>-->
<div class="link_back">
<p/>
<%= link_to t(:user_back),  :controller => :user, :action => 'index' %>
</div>
