<!DOCTYPE html>
<html>
<head>
<title><%= @page_title || "EbyDict: Untitled" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">
function ftoggle(id)
{
  element = document.getElementById(id); element.style.display = (element.style.display == "none" ) ? "" : "none";
}
function hidenotice()
{
  $('notice').hide();
}
</script>
<style type="text/css">
#notice { color: green; direction:rtl; text-align:right }
#ferror { color: red; direction:rtl; text-align:right }
#myCanvas { border: 1px solid #9C9898; }
</style>
</head>
<body>
<div align="right" dir="rtl">

<% if flash[:notice] %>
<%= content_tag 'div', flash[:notice], :class => 'notice', :id => 'notice' %>
<a href="javascript:ftoggle('notice')"><%= t(:app_flash_notice) %></a>
<% end %>
<%= content_tag 'div', h(flash[:error]), :class => 'ferror', :id => 'ferror' if flash[:error] %>
<%= yield :layout %>
</div>
</body>
</html>
